@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Welcome to Document Publish Challenge</h2>
    <div>
        @Html.ActionLink("My Documents","MyDocuments","Documents",null, new {@class="btn btn-success"})
    </div>
</div>